/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.gallery-caption {

}

.bypostauthor {

}

/* =WordPress Fixes
-------------------------------------------------------------- */

img {
	height: auto;
}

/* Fix footer ULs */

.wpb_widgetised_column > .wpb_wrapper ul,
section ul ul,
.site-footer ul ul {
	margin: 0;
	padding: 0;
}

.wpb_widgetised_column > .wpb_wrapper > ul li,
section ul li li,
.site-footer ul li li {
	list-style: none;
}

.wpb_widgetised_column .widget-title {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 30px;
}

/* Sidebar first child */

.wpb_widgetised_column > .wpb_wrapper > ul > li:first-child .widget-title,
.sidebar > ul > li:first-of-type .widget-title {
    margin-top: 0;
}

/* Fix blog style 2 categories */

.post.style-2 header .post-meta a {
	display: inline-block;
}

/* Fix tagcloud */

.tagcloud a {
	font-size: 12px !important;
}

/* Fix Blog comments */

.form-submit #submit {
	display: none;
}

/* Sidebar fix */

.sidebar > ul {
	list-style: none;
	padding: 0;
}

/* Search widget fix */

#searchform label {
	display: none;
}

/* Fix footer navigation */

.site-footer .sub-menu {
	display: none;
}

.site-footer .menu li.current-menu-ancestor a {
	background: none;
}

/* Fix copyright footer */

.copyright-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Fix list with button and headings */

h3 + p + .list, h4 + p + .list {
	margin: 30px 0 20px 0;
}

/* Fix heading spacing */

.legacy .site-header + .container {
	margin-top: 60px;
}

.site-header + .no-top-margin.container {
    margin-top: 0;
}

/* Search page */

.no-results {
	border: 1px solid #ebebeb;
	border-style: solid none;
    color: #a5a5a5;
    font-size: 18px;
	padding: 39px 0;
    text-align: center;
    text-transform: none;
}

.no-results span {
    color: #101010;
}

.search-statement {
	margin-top: 60px;
	padding: 0;
}

.search-posts {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
}

.search-posts h2 {
	border-bottom: 1px solid #ebebeb;
	color: #474747;
	font-size: 16px;
	margin-top: 7px;
	padding-top: 13px;
	padding-bottom: 13px;
	text-transform: none;

	transition: color .2s;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
}

.search-posts i {
	margin-right: 18px;
}

/* Fix row */

section {
	background-size: cover;
	position: relative;
}

/* Fix tabs */

@media(min-width: 992px) {
    .col-md-6 .col-2-5 {
        width: 34.1%;
    }

    .col-md-6 .col-9-5 {
        width: 65.9%;
    }
}

/* Fix pricing table last item */

.pricing-table ul > li:last-of-type {
    border: none;
}

/* Fix positon left statement */

.pos-left {
    margin: 0 !important;
    padding: 0 !important;
}

/* Calendar */

#wp-calendar {
    max-width: 100%;
    width: 100%;
}

#wp-calendar caption {
    margin-bottom: 15px;
}

#wp-calendar tbody tr {
    border-top: 1px solid #e5e5e5;
}

#wp-calendar th,
#wp-calendar td {
    text-align: center;
}

#wp-calendar th {
    font-weight: 300;
    padding: 6px 7px;
}

#wp-calendar td {
    padding: 7px;
}

#wp-calendar td a {
    display: block;
    height: 100%;
    color: #fff;
    margin: -6px;
    padding: 6px;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
}

#wp-calendar tfoot {
    display: none;
}

@media (max-width: 400px) {
    #wp-calendar td,
    #wp-calendar th,
    #wp-calendar td a {
        padding-left: 3px;
        padding-right: 3px;
    }
    #wp-calendar td a {
        margin-left: -3px;
        margin-right: -3px;
    }
}

/* Fixed menu when logged in */

body.logged-in .site-header.sticky .nav-wrap.active {
    margin-top: 32px;
}

@media(max-width: 782px) {
    body.logged-in .site-header.sticky .nav-wrap.active {
        margin-top: 46px;
    }
}

@media(max-width: 600px) {
    body.logged-in .site-header.sticky .nav-wrap.active {
        margin-top: 0;
    }
}

/* Revolution slider */

body .tp-bullets.simplebullets.round .bullet {
    background: none;
    border: 3px solid #FFF;
    border-radius: 100%;
    display: block;
    float: left;
    height: 12px;
    margin: 0 2px;
    width: 12px;
    transition: border .2s;
    -webkit-transition: border .2s;
    -moz-transition: border .2s;
}

body .tp-leftarrow.default,
body .tp-rightarrow.default {
    background: none;
    font-family: "fontAwesome";
    font-size: 37px;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
}

body .tp-leftarrow.default:after {
    content: "\f053";
}

body .tp-rightarrow.default:after {
    content: "\f054";
}

.post .post-meta .meta-content a {
    display: inline-block;
}

.post .post-meta .meta-content span {
    float: none;
    margin: 0;
    position: static;
}

.post .post-meta .meta-content {
    padding-top: 3.2%;
}

.posts img {
    height: auto;
}

/* Fix contact form */

.contact-form .form-group .alert .fa {
    background: none;
    position: static;
}

.contact-form .form-group .alert {
    margin-top: 10px;
    padding: 9px;
}

.contact-form  .error {
    border: 1px solid #D82E21 !important;
}

.contact-form  .success {
    border: 1px solid #5CBB34 !important;
}

.gallery {
    margin-left: -15px;
    margin-right: -15px;
}

.gallery article.post header {
    border: none;
}

.pp_social {
    display: none;
}

.post header img.attachment-large {
    max-width: 100%;
    width: 100%;
    border-radius: 2px;
}

.post.style-3 header img {
    max-width: 100%;
}
/* NO SIDEBAR BLOG PADDING*/
.post.style-2 h1 {
    font-size: 28px;
    margin-top: 0;
}
.post.style-2 .btn.btn-md {
    margin-bottom: 10px;
}

.portfolio-single img + .row {
    margin-top: 53px;
}

.col-md-12 > ol li + li,
.col-md-12 > ul ul,
.col-md-12 > ol ol,
.col-md-12 > ul li + li {
    margin-top: 13px;
}

ul.posts li + li,
ul.isotope li.isotope-item {
    margin-top: 0;
}

.isotope img {
    height: auto;
}

/* LayerSlider no margin */

.wpb_widgetised_column .widget-categories,
.wpb_widgetised_column .widget_archive,
.wpb_widgetised_column .widget_categories,
.wpb_widgetised_column .widget_recent_entries {
  padding: 0;
}
.wpb_widgetised_column .widget-categories li,
.wpb_widgetised_column .widget_archive li,
.wpb_widgetised_column .widget_categories li,
.wpb_widgetised_column .widget_recent_entries li {
  border-bottom: 1px solid #ebebeb;
  list-style: none;
}
.wpb_widgetised_column .widget-categories a,
.wpb_widgetised_column .widget_archive a,
.wpb_widgetised_column .widget_categories a,
.wpb_widgetised_column .widget_recent_entries a {
  color: #848484;
  display: block;
  padding: 9px 0;
}

.rtl .owlprev i,
.rtl .owlnext i {
    transform: scale(-1);
}

.rtl .site-footer.style-4 .menu-item a::before {
    transform: translateY(-50%) scale(-1);
}

.rtl .owl-prev::before,
.rtl .owl-next::before {
    transform: translate(50%, -50%) scale(-1);
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.rtl .large-above-menu-style-4 .widget_anpstext .anpstext-arrow::before {
    transform: translateY(-50%) scale(-1, 1);
    font-size: 14px;
    width: 4px;
}
